@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    background-color: hsl(209, 23%, 22%);
    color: white;
}

input{
    background-color: hsl(209, 23%, 22%);
    color: white;
}

select{
    background-color: hsl(209, 23%, 22%);
    color: white;
}

body{
    background-color: hsl(207, 26%, 17%);
}

p{
    color:white;
}

h1{
    color:white;
}